.buttons {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 16px;
}

.buttonsGroup {
  display: flex;
  gap: 8px;
}

.button {
  min-width: 116px;
}

.installButton {
  composes: button;
  position: relative;
}

.installButton > input[type='file'] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.uninstallButton {
  color: var(--system-bright-red);
  width: 100%;
  justify-content: flex-start;
}

.uninstallText {
  margin-left: 9px;
  line-height: 15px;
  font-weight: 400;
}

.trashIcon {
  fill: var(--system-bright-red);
}

.tvInfoButtonEnabled {
  color: var(--accent-orange);
}

.tvInfoButtonDisabled {
  color: var(--monochrome-light-silver);
}

.chevronIcon {
  margin-left: 4px;
}

.tvInfoButtonEnabled > .chevronIcon {
  fill: var(--accent-orange);
}

.tvInfoButtonDisabled > .chevronIcon {
  fill: var(--monochrome-light-silver);
}

.moreIcon {
  fill: var(--monochrome-nero);
}

.moreButton {
  padding: 10px;
}

.moreIconDisabled {
  fill: var(--monochrome-light-silver);
}

:global(.morePopup-content) {
  width: 200px;
  background-color: white;
  margin-top: 4px;
  padding: 4px;
  border: 1px solid var(--monochrome-alabaster);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow-medium);
}

.debugButton {
  composes: button;
  margin-left: 16px;
}

.largeButton {
  composes: button;
  width: 132px;
}
