@font-face {
  src: url('./assets/GraphikKinopoiskLC-Light-Web.woff2') format('woff2');
  font-family: 'Graphik Kinopoisk LC Web';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-Regular-Web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-Medium-Web.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-Semibold-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-SemiboldItalic-Web.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-Bold-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Kinopoisk LC Web';
  src: url('./assets/GraphikKinopoiskLC-BoldItalic-Web.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
